body {
    background: url(https://flexibits.com/img/new-fantastical/background/weather-background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    transition: background-image 1s ease-in-out;
}

.current {
    background-image: url(https://flexibits.com/img/new-fantastical/background/weather-background.jpg);
    background-size: cover;
}

.Paris {
    background-image: url(https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRnXs6f1K0EMQY7T-8_kQMcMRBqr05iWzMxIK_5Lrsu5zzbU-jEB8zfqfwkwAkvEDqT1gsFpU3CFyHq4z5smMOO-Km5F-JawzeoGjUKnw);
    background-size: cover;
}

.München {
    background-image: url(https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcTaedQZrkUe6eyE_kixyPQ6axsd9QfOy6hdmyggfEGLECiPM9a_VtTzwxi-2qGrs7bYlBFBHkEYdQn9vKcsNJCVLuBmtx_OP8Zfk-PASw);
    background-size: cover;
}

.London {
    background-image: url(https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcRsAKDADzuTprE39uzVRBDBBKRhFz1gygD5GAA2zKWnDL08-Gn1NXUSmcuphltyOsoNC1kzw2wjyyuG6WlxxRkCv9xRdgfVsqrwFtyiTg);
    background-size: cover;
}

.Madrid {
    background-image: url(https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcQgR7HaLMdhwbhsCVZsaij_p5bBUBLEEqdH1f4FfQ99yylA72KDTM21GfkClJ-YCnggDVJObua8tmqAYonjOPbblxzXuHdj-csl9J7_nhc);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.weather-box {
    border: 2px solid white;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(52, 52, 52, .7);
    color: white;
    max-width: 700px;
    width: 100%;
}

.weather-button {
    display: flex;
    justify-content: center;
    background-color: #000;
    border-radius: 60px;
    max-width: 700px;
    width: 100%;
    padding: 30px;
    margin-top: 30px;
}

.weather-button button {
    margin-right: 30px;
}